<h4 class="ui center aligned medium icon header">
  Welcome to The Looking Glass! <em>Where Nothing Is As It Seems</em>
  <i class="circular red power icon"></i>
  Please login to continue
</h4>

<div class="ui placeholder segment">
  <div class="ui two column very relaxed stackable grid">
    <div class="column">
      <div class="ui form">
        <div class="field">
          <label>Who are you <em>really?</em></label>
          <div class="ui left icon input">
            <input type="text" placeholder="Username">
            <i class="user icon"></i>
          </div>
        </div>
        <div class="field">
          <label>Knock Once for Entry</label>
          <div class="ui left icon input">
            <input type="password">
            <i class="lock icon"></i>
          </div>
        </div>
        <div class="ui orange submit button">Login</div>
      </div>
    </div>
    <div class="middle aligned column">
      <div class="ui big orange button">
        <i class="signup white icon"></i>
        Sign Up
      </div>
    </div>
  </div>
  <div class="ui vertical divider">
    Or
  </div>
</div>
