<div class="ui small inverted menu">
  <div class="ui container">
    <a class="red item">
      Chatroom
    </a>
    <a class="orange item">
      Messages
    </a>
    <div class="right menu">
      <div class="ui dropdown item">
        Account <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item">Login</a>
          <a class="item">Sign up</a>
          <a class="item">Logout</a>
        </div>
      </div>
      <div class="yellow item">
        <div class="ui primary button">Sign Up</div>
      </div>
    </div>
  </div>
</div>
